USE [master]
GO
/****** Object:  Database [JamesThew]    Script Date: 10/1/2025 4:19:58 PM ******/
CREATE DATABASE [JamesThew]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JamesThew', FILENAME = N'D:\SQL\MSSQL16.SQLEXPRESS\MSSQL\DATA\JamesThew.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JamesThew_log', FILENAME = N'D:\SQL\MSSQL16.SQLEXPRESS\MSSQL\DATA\JamesThew_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JamesThew].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JamesThew]
GO
/****** Object:  Table [dbo].[Announcements]    Script Date: 10/1/2025 4:19:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Announcements](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[competition_id] [int] NOT NULL,
	[date] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Competitions]    Script Date: 10/1/2025 4:19:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Competitions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[start_date] [datetime2](7) NOT NULL,
	[end_date] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 10/1/2025 4:19:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[guidance_id] [int] NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[created_date] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Guidance]    Script Date: 10/1/2025 4:19:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Guidance](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[img] [nvarchar](255) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[type] [bit] NOT NULL,
	[is_free] [bit] NOT NULL,
	[created_date] [datetime2](7) NOT NULL,
	[updated_date] [datetime2](7) NULL,
	[user_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Submissions]    Script Date: 10/1/2025 4:19:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Submissions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[competition_id] [int] NOT NULL,
	[fullname] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[created_date] [datetime2](7) NOT NULL,
	[is_winner] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/1/2025 4:19:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[fullname] [nvarchar](100) NOT NULL,
	[membership_type] [tinyint] NULL,
	[expiration_date] [datetime2](7) NULL,
	[role] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Competitions] ON 

INSERT [dbo].[Competitions] ([id], [title], [description], [start_date], [end_date]) VALUES (5, N'Contest 1', N'Description 1', CAST(N'2024-07-30T00:00:00.0000000' AS DateTime2), CAST(N'2024-08-05T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Competitions] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedbacks] ON 

INSERT [dbo].[Feedbacks] ([id], [fullname], [email], [guidance_id], [content], [created_date]) VALUES (1, N'Cao thu an danh', N'admin@gmail.com', 32, N'Good', CAST(N'2024-07-28T19:10:13.8620714' AS DateTime2))
INSERT [dbo].[Feedbacks] ([id], [fullname], [email], [guidance_id], [content], [created_date]) VALUES (2, N'duy anh', N'tanh@gmail.com', 47, N'very good', CAST(N'2024-07-28T22:48:24.7448421' AS DateTime2))
INSERT [dbo].[Feedbacks] ([id], [fullname], [email], [guidance_id], [content], [created_date]) VALUES (3, N'tuan anh', N'tuananh@gmail.com', 47, N'very good', CAST(N'2024-07-28T22:55:24.0850332' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Feedbacks] OFF
GO
SET IDENTITY_INSERT [dbo].[Guidance] ON 

SET IDENTITY_INSERT [dbo].[Guidance] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [username], [password], [email], [fullname], [membership_type], [expiration_date], [role]) VALUES (1, N'Tanh', N'$2a$11$7PDOxR7B1WLUgmOXqQ6jlOudH8VU0ToyZ23RIqoPH/fiQq0JoPM/.', N'abc@gmail.com', N'Tuan Anh', 1, CAST(N'2024-07-27T22:05:48.0000000' AS DateTime2), 0)
INSERT [dbo].[Users] ([id], [username], [password], [email], [fullname], [membership_type], [expiration_date], [role]) VALUES (2, N'admin', N'$2a$11$1pKFawBfzoWx.qbed6Vmpu7znROv02PhOuGp4HzeNDhyGvOjXFT4S', N'kem@gmail.com', N'Admin122', 1, CAST(N'2024-07-27T22:07:22.0000000' AS DateTime2), 1)
INSERT [dbo].[Users] ([id], [username], [password], [email], [fullname], [membership_type], [expiration_date], [role]) VALUES (3, N'danh', N'$2a$11$O/aoR7LfSBJrcB9QfsOKy.VpFDZpyuTLudOor3wz1Hm9w79Ti7SxC', N'danh@gmail.com', N'duy anh', 2, CAST(N'2024-07-28T23:02:46.0000000' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Announcements]  WITH CHECK ADD  CONSTRAINT [FK_Announcements_Competitions] FOREIGN KEY([competition_id])
REFERENCES [dbo].[Competitions] ([id])
GO
ALTER TABLE [dbo].[Announcements] CHECK CONSTRAINT [FK_Announcements_Competitions]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_Guidance] FOREIGN KEY([guidance_id])
REFERENCES [dbo].[Guidance] ([id])
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_Guidance]
GO
ALTER TABLE [dbo].[Guidance]  WITH CHECK ADD  CONSTRAINT [FK_Guidance_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Guidance] CHECK CONSTRAINT [FK_Guidance_Users]
GO
ALTER TABLE [dbo].[Submissions]  WITH CHECK ADD  CONSTRAINT [FK_Submissions_Competitions] FOREIGN KEY([competition_id])
REFERENCES [dbo].[Competitions] ([id])
GO
ALTER TABLE [dbo].[Submissions] CHECK CONSTRAINT [FK_Submissions_Competitions]
GO
USE [master]
GO
