@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@section Styles {
    <link rel="stylesheet" href="~/css/faqs.css" />
}
<section class="faqs">
    <div class="faq_main">
        <div class="faq_name">
            <h1>Frequently asked questions</h1>
        </div>
        <div class="faq_list">
            <!-- Item -->
            <div class="faq_item">
                <button class="item_btn">
                    <span>How to become the member of this site?</span>
                    <i class="fa-solid fa-chevron-down"></i>
                </button>
                <div class="item_content">
                    <span>To become a member of this site, you need to register by creating an account on the Login/Register page. During the registration process, you will be required to select a subscription plan and make the necessary payment. Once the payment is confirmed, your membership will be activated.</span>
                </div>
            </div>

            <div class="faq_item">
                <button class="item_btn">
                    <span>Will there be any subscription charges?</span>
                    <i class="fa-solid fa-chevron-down"></i>
                </button>
                <div class="item_content">
                    <span>
                        Yes, there are subscription charges for accessing the member-only content on the site. The subscription options are as follows:
                        Monthly Subscription: $10
                        Yearly Subscription: $100
                    </span>
                </div>
            </div>

            <div class="faq_item">
                <button class="item_btn">
                    <span>How to view the recipes and tips? Will there be any charges for that?</span>
                    <i class="fa-solid fa-chevron-down"></i>
                </button>
                <div class="item_content">
                    <span>You can view free recipes and tips without any charges. However, to access member-only recipes and tips, you need to have an active subscription. Once you are a registered member, you can view all the content available on the site.</span>
                </div>
            </div>

            <div class="faq_item">
                <button class="item_btn">
                    <span>I am not the registered member of the site. Can I participate in the contest held?</span>
                    <i class="fa-solid fa-chevron-down"></i>
                </button>
                <div class="item_content">
                    <span>Yes, you can participate in the contests even if you are not a registered member of the site. Non-members can submit their tips and recipes along with the list of ingredients and cooking procedures for the contests.</span>
                </div>
            </div>

            <div class="faq_item">
                <button class="item_btn">
                    <span>How to upload or post the recipes and tips?</span>
                    <i class="fa-solid fa-chevron-down"></i>
                </button>
                <div class="item_content">
                    <span>To upload or post recipes and tips, you need to log in to your account. Once logged in, you can navigate to the appropriate section where you will find options to upload new recipes and tips. Provide the necessary details, such as the list of ingredients and cooking procedures, and submit your post.</span>
                </div>
            </div>

            <div class="faq_item">
                <button class="item_btn">
                    <span>How to post a feedback?</span>
                    <i class="fa-solid fa-chevron-down"></i>
                </button>
                <div class="item_content">
                    <span>To post feedback, log in to your account and navigate to the feedback section. You can provide your comments and suggestions related to the recipes or the overall site experience. Submit your feedback through the provided form.</span>
                </div>
            </div>

            <div class="faq_item">
                <button class="item_btn">
                    <span>I have posted a recipe or a tip with respect to the contest. How can I know who is the winner?</span>
                    <i class="fa-solid fa-chevron-down"></i>
                </button>
                <div class="item_content">
                    <span>After the contest ends, Mr. James Thew will review all the submitted recipes and tips. The winner will be announced on the Announcements page. You can check this page to see if your submission has won the contest. Additionally, you might receive a notification if you are the winner.</span>
                </div>
            </div>

        </div>
    </div>
</section>
@section Scripts {
    <script src="~/js/faqs.js"></script>
}